make sure that:
1) installed mysql-server on linux machine
2) set-up the mysql-server with same credentials
3) installed pip from requiremetns.txt
4) run the npm install cmd
5) set up ngrok by modifying ngrok.yml to allow multiple tunnels

After this Run Following commands:

1)

       ngrok start --all
2)

       REACT_APP_DJANGO_API_URL='<django_ngrok_url>' npm start

3)

       export PP_API_KEY='<pointingpoker_api_url>' \
       PP_DB_NAME='pointing_cheater_feedback' \
       PP_DB_USER='pointing_cheater' \
       PP_DB_USER_PASSWORD='NoPassword' \
       && python manage.py runserver